/* CSS styles */
* {
    font-family: Trebuchet, Arial, sans-serif;
    color: #{{base04-hex}};
    background-color:#{{base00-hex}};
    text-align:left;
    font-size:25px;
    margin:auto;
    
  }
  table, td {
    color:#{{base00-hex}}e;
    padding-left:2%;
    padding-right:2%;
    padding-top:2em
  }
  td {
    color:#{{base00-hex}};
    padding-left:3em;
    padding-right:3em;
    padding-top:2em
  }
  a {
    background-color:#{{base00-hex}};
    border:15px solid #{{base00-hex}};
    border-radius:15px;
    text-decoration:none;
  }
  a:hover {
    color:#{{base00-hex}};
    background-color:#{{base09-hex}};
    border:15px solid #{{base09-hex}};
    border-radius:15px;
    text-decoration:none;
  }
  
