<!DOCTYPE html>
<html>

<head>
    <title>newtabpage - nathan laney</title>
    <link rel="stylesheet" type="text/css" href="newtab.css" />
</head>

<body>
    <table>
        <tbody>
            <tr>
                <td><a href="https://www.youtube.com/" target="_blank">Youtube</a></td>
                <td><a href="https://my.uncc.edu/" target="_blank">My UNCC</a></td>
            </tr>
            <tr>
                <td><a href="https://www.reddit.com/" target="_blank">Reddit</a></td>
                <td><a href="https://uncc.instructure.com/login/saml" target="_blank">Canvas</a></td>
            </tr>
            <tr>
                <td><a href="https://www.reddit.com/r/random/" target="_blank">/r/Random</a></td>
                <td><a href="http://mail.google.com/" target="_blank">Mail</a></td>
            </tr>
            <tr>
                <td><a href="https://www.reddit.com/r/randnsfw/" target="_blank">/r/RandNSFW</a></td>
                <td><a href="http://calendar.google.com/" target="_blank">Calendar</a></td>
            </tr>
            <tr>
                <td><a href="http://boards.4chan.org/wsg/" target="_blank">/wsg/</a></td>
                <td><a href="https://castbox.fm/my/subscribed?country=us" target="_blank">Castbox</a></td>
            </tr>
            <tr>
                <td><a href="http://boards.4chan.org/gif/" target="_blank">/gif/</a></td>
                <td><a href="https://www.nathanlaney.com/" target="_blank">NathanLaney.com</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
