! special
*.foreground:   #919191
*.background:   #000000
*.cursorColor:  #919191

! black
*.color0:       #000000
*.color8:       #aa817b

! red
*.color1:       #873d46
*.color9:       #873d46

! green
*.color2:       #91464e
*.color10:      #91464e

! yellow
*.color3:       #ae5358
*.color11:      #ae5358

! blue
*.color4:       #bd5f60
*.color12:      #bd5f60

! magenta
*.color5:       #d26864
*.color13:      #d26864

! cyan
*.color6:       #e17067
*.color14:      #e17067

! white
*.color7:       #f4b9b0
*.color15:      #f4b9b0

URxvt.font: xft:Iosevka:style=Regular:size=12
URxvt.boldFont: xft:Iosevka:style=Bold:size=12
URxvt.italicFont: xft:Iosevka:style=Italic:size=12
URxvt.boldItalicFont: xft:Iosevka:style=Bold Italic:size=12
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
!URxvt.depth: 24
!URxvt.iso14755: false

!rofi.font:xft:Inconsolata:size=12

rofi.lines:5

!                       line bg         unselected      line bg 2       selected bg 	selected text
rofi.color-normal:	#00000000,	#e17067,	#00000000,	#00000000,	#f4b9b0
! 			bg		bg-border	borderline
rofi.color-window:	#873d46,	#00000000,	#d26864
!			current-inac	curr-inac-txt	bg-not-hig	cur-hig-bg	cur-hig-txt
rofi.color-active:	#ae5358,	#e17067,	#f4b9b0,	#f4b9b0,	#873d46
!vertical padding
rofi.padding:700
!percentage of horizontal screen it takes up
rofi.width:100

