# Name: Custom
# Author: NixiePro <nixiepro@openmailbox.org>

# Flavours functionality in progress

# Menu
menu.title.bg: 				        Flat Solid
menu.title.bg.color: 				#{{base00-hex}}
menu.title.text.color: 				#{{base04-hex}}
menu.title.text.justify: 	        Center
menu.border.width: 			        10
menu.border.color:                  #{{base00-hex}}
menu.overlap.x: 		            -14
menu.overlap.y:				        0
menu.items.bg: 				        Flat Solid
menu.items.bg.color: 				#{{base00-hex}}
menu.items.text.color: 				#{{base0C-hex}}
menu.items.justify:                 left
menu.items.disabled.text.color:	    #{{base01-hex}}
menu.items.active.bg: 			    Flat Solid
menu.items.active.bg.color: 		#{{base00-hex}}
menu.items.active.text.color: 	    #{{base08-hex}}
menu.separator.width:			    1
menu.separator.padding.width:	    4
menu.separator.padding.height:	    4
menu.separator.color:               #{{base01-hex}}


# Active window
window.active.border.color: #{{base00-hex}}

window.active.title.bg: flat solid
window.active.title.bg.color: #{{base00-hex}}
window.active.title.separator.color: #{{base01-hex}}
window.active.text.justify: center

window.active.label.bg: parentrelative
window.active.label.text.color: #{{base0C-hex}}

window.active.handle.bg: flat solid
window.active.handle.bg.color: #FF0000

window.active.grip.bg: flat solid
window.active.grip.bg.color: #FF0000

window.active.button.unpressed.bg: flat solid
window.active.button.unpressed.bg.color: #{{base00-hex}}
window.active.button.unpressed.image.color: #{{base0C-hex}}

window.active.button.pressed.bg: flat solid
window.active.button.pressed.bg.color: #{{base00-hex}}
window.active.button.pressed.image.color: #{{base0B-hex}}

window.active.button.disabled.bg: flat solid
window.active.button.disabled.bg.color: #{{base00-hex}}
window.active.button.disabled.image.color: #{{base0C-hex}}


# Inactive window
window.inactive.border.color: #{{base00-hex}}

window.inactive.title.bg: flat solid
window.inactive.title.bg.color: #{{base00-hex}}
window.inactive.title.separator.color: #{{base03-hex}}
window.inactive.text.justify: center

window.inactive.label.bg: parentrelative
window.inactive.label.text.color: #{{base01-hex}}

window.inactive.handle.bg: flat solid
window.inactive.handle.bg.color: #{{base01-hex}}

window.inactive.grip.bg: flat solid
window.inactive.grip.bg.color: #{{base00-hex}}

window.inactive.button.unpressed.bg: flat solid
window.inactive.button.unpressed.bg.color: #{{base00-hex}}
window.inactive.button.unpressed.image.color: #{{base01-hex}}

window.inactive.button.pressed.bg: flat solid
window.inactive.button.pressed.bg.color: #{{base00-hex}}
window.inactive.button.pressed.image.color: #{{base0B-hex}}

window.inactive.button.disabled.bg: flat solid
window.inactive.button.disabled.bg.color: #{{base00-hex}}
window.inactive.button.disabled.image.color: #{{base0A-hex}}


# OSD
osd.border.width: 1
osd.border.color: #{{base00-hex}}

osd.bg: flat solid
osd.bg.color: #{{base00-hex}}
osd.label.bg: flat solid
osd.label.bg.color: #{{base00-hex}}
osd.label.text.color: #{{base0C-hex}}

osd.hilight.bg: flat solid
osd.hilight.bg.color: #{{base0C-hex}}

osd.unhilight.bg: flat solid
osd.unhilight.bg.color: #{{base02-hex}}

osd.button.unpressed.bg: flat border
osd.button.unpressed.bg.color: #{{base00-hex}}
osd.button.unpressed.*.border.color: #{{base0C-hex}}

osd.button.pressed.bg: flat border
osd.button.pressed.bg.color: #{{base00-hex}}
osd.button.pressed.*.border.color: #{{base08-hex}}

osd.button.focused.bg: flat solid border
osd.button.focused.bg.color: #{{base01-hex}}
osd.button.focused.*.border.color: #{{base07-hex}}

osd.button.focused.box.color: #FF0000


# Fonts
window.active.label.text.font:shadow=n
window.inactive.label.text.font:shadow=n
menu.items.font:shadow=n
menu.title.text.font:shadow=n


# Everything else
border.width: 0
padding.width: 8
padding.height: 4
window.handle.width: 0
window.client.padding.width: 0
window.label.text.justify: center
